.ant-layout{
  height: 100vh;
}
ul{
  float: right;
}
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.aling{
  display: flex;
  justify-content: center;
}

.size{
  width: 550px;
}

.aling-button{
  margin-left: 180px;
}
.right{
  float: right;
}